/* START Sitewide styles */

body {
  background-color: #978470;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: #8B050D;
  position: sticky;
}

.navlist {
  list-style-type: none;
  margin: 0;
  padding-block: 1em;
}

.navlist li {
  display: inline-block;
  margin-right: 2em;
}

.navlink {
  color: lightblue;
}

.navlink:hover {
  filter: brightness(0.6);
}

main {
  padding: 3em 10%;
}

.content {
  border-radius: 1em;
  background-color: white;
  padding: 1em;
}

.site-title {
  margin: auto;
  margin-bottom: 10px;
  color: black;
}

.page-title {
  margin-top: 0;
}

/* END Sitewide styles */

/* START Index page styles */

.statement-video {
  width: 80%;
  aspect-ratio: 16 / 9;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

.statement-video video {
  height: 100%;
  width: 100%;
}

/* END Index page styles */

/* START Timeline page styles */

.timeline {
  border-left: 2px solid #8B050D;
}

.event {
  padding: 10px 0px 10px 0px;
  border-radius: 0px 5px 5px 0px;
}

.event:nth-child(odd) {
  background-color: antiquewhite;
}

.date {
  margin: 0;
  font-style: italic;
  padding-inline: 10px;
  border-bottom: 1px solid #8B050D;
  position: relative;
  width: fit-content;
}

.date::before {
  content: '';
  border: 6px solid #8B050D;
  border-radius: 6px;
  position: absolute;
  bottom: -6px;
  left: -6px;
}

.event-description {
  margin: 0;
  padding-left: 10px;
}

/* END Timeline page styles */

/* START FAQ page styles */
.faq {
  margin-inline: -1em;
  padding: 1em;
}

.faq:nth-child(even) {
  background-color: antiquewhite;
}

hr {
  border: 2px solid #8B050D;
  margin: 2px;
}

.question {
  margin: 0;
}

.answer {
  margin: 0;
}

/* END FAQ page styles */