/* Styles go here */
body {
  background-color: #978470;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: #8B050D;
  position: sticky;
}

.navlist {
  list-style-type: none;
  margin: 0;
  padding-block: 1em;
}

.navlist li {
  display: inline-block;
  margin-right: 2em;
}

.navlink {
  color: lightblue;
}

.navlink:hover {
  filter: brightness(0.6);
}

main {
  padding: 3em 10%;
}

.content {
  border-radius: 1em;
  background-color: white;
  padding: 1em;
}

.page-title {
  margin: auto;
  margin-bottom: 10px;
  color: black;
}

.statement-video {
  width: 80%;
  aspect-ratio: 16 / 9;
  margin: auto;
}

.statement-video video {
  height: 100%;
  width: 100%;
}