@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

:root {
  --text-color: #000000;
  --gray: #E5E5E5;
  --black: #000000;
  --white: #fff;
  --primary-color: #14213D;
  --secondary-color: #FCA311;
  --background-white: #fff;
}

/* START Sitewide styles */

body {
  margin: 0;
  padding: 0;
}

footer {
  background-image: url('../images/footer_background.png');
  background-color: black;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 250px;
  position: sticky;
  bottom: -200px;
}

footer a {
  color: var(--white);
}

.gray-text {
  color: darkgrey;
}

.primary-color-text {
  color: var(--primary-color);
}

nav.navbar {
  position: sticky;
  top: 0px;
  z-index: 1;
  border-bottom: 1px solid var(--black);
  background-color: var(--background-white);
}

.content {
  border-radius: 1em;
  background-color: var(--white);
  padding: 1em;
}

.site-title {
  margin: auto;
  margin-bottom: 10px;
  color: black;
}

.page-title {
  margin-top: 0;
}

hr {
  border-top-color: var(--gray);
}

a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--secondary-color);
  filter: brightness(70%);
}

.mobile-only {
  display: none;
}

.white-button {
  background-color: var(--white);
  color: var(--primary-color);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
  font-size: 16px;
}

.white-button:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.white-button:focus {
  outline-color: var(--primary-color);
}

dialog .white-button {
  width: fit-content;
  padding: 0;
  border: none;
}

.letter .white-button img {
  display: inline;
  height: 24px;
  width: 24px;
}

.video_with_text .video-description dialog .white-button img {
  margin: 0;
}

dialog .white-button:focus {
  outline: none;
}

.outside-link img {
  display: inline;
  height: 24px;
  width: 24px;
}
/* END Sitewide styles */

/* START Index page styles */
.video_with_text {
  background-color: var(--primary-color);
  height: 396px;
}

.video_with_text .video {
  display: inline-block;
  width: 60%;
  padding: 15px 0 15px 15px;
}

.video_with_text.video-right .video {
  padding: 15px 5px 15px 10px;
}

.video_with_text .video-description {
  width: 39%;
  padding: 15px 5px;
  overflow-y: scroll;
  overscroll-behavior: contain;
  height: 396px;
  float: right;
  color: var(--white);
}

.video_with_text.video-right .video-description {
  float: left;
  direction: rtl;
}

.video_with_text.video-right .video-description * {
  direction: ltr;
}

.video_with_text .video-description img {
  display: inline;
  height: 24px;
  width: 24px;
  margin-top: -5px;
  margin-left: 5px;
}
/* END Index page styles */

/* START Timeline page styles */
.date-outer {
  cursor: pointer;
}

.date {
  margin: 0;
  font-style: italic;
  padding-inline: 10px;
  position: relative;
  width: fit-content;
}

.event-description {
  margin: 0;
  padding-left: 10px;
}

dialog {
  max-width: 90%;
  width: 65em;
  min-width: 50%;
  height: 100vh;
  max-height: 100vh;
  margin: 0 0 0 auto;
  overflow-y: scroll;
  border: none;
  background-color: var(--background-white);
  padding: 0;
}

dialog::backdrop {
  background-color: rgba(0 0 0 / 0.5);
}

dialog .inner-modal {
  height: 100vh;
  max-height: 100vh;
}

.button.modal-button {
  border: none;
  border-radius: 2px;
  background-color: var(--primary-color);
  color: var(--white);
}

.button.modal-button:hover {
  filter: brightness(70%);
}

.button.modal-button:focus {
  outline: 1px solid var(--secondary-color);
}

.main-timeline {
  border-top: 2px solid var(--gray);
  border-bottom: 2px solid var(--gray);
  margin-bottom: 50px;
}

.otro-blockquote{
font-size: 20px;
margin:50px auto;
font-family:Open Sans;
font-style:italic;
color: #555555;
padding:1.2em 30px 1.2em 75px;
border-left:8px solid var(--primary-color) ;
line-height:1.6;
position: relative;
background:var(--gray);
}

.otro-blockquote::before{
font-family:Arial;
content: "\201C";
color: var(--primary-color);
font-size:4em;
position: absolute;
left: 10px;
top:-10px;
}

.otro-blockquote span{
display:block;
color:#333333;
font-style: normal;
font-weight: bold;
margin-top:1em;
}

.link-block {
  font-size: 20px;
  margin:50px auto;
  font-family: Open Sans;
  font-style: italic;
  color: white;
  padding: 1.2em 30px 1.2em 30px;
  border-left: 8px solid var(--secondary-color) ;
  line-height: 1.6;
  position: relative;
  background: #555555;
}

.link-block img {
  display: inline;
  height: 24px;
  width: 24px;
  margin-top: -5px;
  margin-left: 5px;
}

.link-block span {
  color: white;
  font-style: normal;
  display: block;
  border-bottom: 1px solid white;
}

.link-block a {
  display: block;
  margin-left: 50px;
}

audio {
  width: 100%;
}
/* END Timeline page styles */

/* START Open Letter page styles */
.float-right.pdf-link {
  margin-top: -5px;
}

.eklan-signature {
  width: 40%;
  margin-top: -80px;
  margin-bottom: -300px;
}

.roja-signature {
  width: 40%;
  margin-top: -220px;
  margin-bottom: -220px;
}

.nivedhan-signature {
  width: 40%;
}

/* END Open Letter page styles */

/* START FAQ page styles */
.accordion-section,
.join-us {
  min-height: calc(100vh - 300px);
}

.accordion-section h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
  border: 0;
  padding: 0;
}
.accordion-section .panel-default .panel-title a {
  display: block;
  font-style: italic;
  font-size: 1.5rem;
  color: var(--gray);
  background-color: var(--primary-color);
  padding: 10px;
}
.accordion-section .panel-default .panel-title a.collapsed {
  background-color: var(--gray);
  color: var(--primary-color);
}
.accordion-section .panel-default .panel-title a:after {
  font-style: normal;
  font-size: 2rem;
  content: url(../images/arrow-up.svg);
  float: right;
  margin-top: -8px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
  content: url(../images/arrow-down.svg);
}
.accordion-section .panel-default .panel-body {
  font-size: 1.2rem;
}

.panel-title {
  margin-bottom: 0;
}

/* END FAQ page styles */

/* START Join Us Styles */
.join-us-table td {
  vertical-align: bottom;
}

.email-template {
  font-size: 20px;
  margin:20px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 30px;
  border-left:8px solid var(--primary-color) ;
  position: relative;
  background:var(--gray);
}

.copy-email-template {
  position: absolute;
  right: 1.2em;
}

.copy-email-template img {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.template {
  white-space: pre-wrap;
}
/* END Join Us Styles */

body{
  background-color: var(--background-white);
  margin-top:20px;
}

.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: var(--gray);
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: var(--white);
  border: 2px solid var(--black);
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid var(--gray);
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: var(--gray);
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: var(--white);
  border: 2px solid var(--black);
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid var(--gray);
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: var(--text-color);
  line-height: 36px
}

.main-timeline .timeline-content {
  min-height: 125px;
  width: 50%;
  padding: 20px 0 0 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description {
  margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 0 0;
  text-align: right
}

.main-timeline .timeline:nth-child(2n) .timeline-content dialog {
  text-align: left;
}

@media only screen and (max-width: 991px) {
  .eklan-signature {
    margin-bottom: -200px;
  }

  .video_with_text {
    height: 255px;
  }

  .video_with_text .video {
    height: 255px;
  }

  .video_with_text .video-description {
    height: 255px;
  }

  .main-timeline .date-content {
      margin-top: 35px
  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .eklan-signature {
    margin-bottom: -150px;
  }

  .mobile-only {
    display: unset;
  }

  .join-us-table {
    display: none;
  }

  .mobile-only dialog {
    width: 95%;
    margin: auto;
    padding: 50px 10px;
    text-align: left;
  }

  .letter {
    float: none;
    height: fit-content;
    display: none;
    width: 100%;
    text-align: center;
    padding-top: 0;
  }

  .letter.mobile-only {
    display: block;
    margin-top: 5px;
  }

  .text-justify.mb-5 {
    text-align: left!important;
  }

  .video_with_text {
    height: unset;
  }

  .video_with_text .video {
    display: block;
    width: 100%;
    height: unset;
    padding-right: 15px;
  }

  .video_with_text .video-description {
    float: none;
    height: fit-content;
    display: none;
    width: 100%;
    text-align: center;
    padding-top: 0;
  }

  .video_with_text .video-description.mobile-only {
    display: block;
  }

  .video_with_text.video-right .video-description {
    float: none;
  }

  .video_with_text.video-right .video {
    float: none;
    padding: 15px;
  }

  footer .d-flex {
    flex-direction: column;
  }

  footer {
    background-image: none;
    position: relative;
    height: fit-content;
    padding-bottom: 2em;
  }

  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 95%;
      float: right;
      margin-top: 0
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 30%
  }
  .main-timeline .year {
      font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .title {
      margin-bottom: 10px
  }

  .main-timeline .timeline-content {
    height: unset;
  }

  .main-timeline .timeline-content .inner-modal * {
    text-align: left;
  }

  .button.tab-button:nth-child(-n+2) {
    margin-right: 2px;
  }
  
  .letters-box {
    height: auto;
  }
  
  .headshot-container {
    width: 100%;
    height: auto;
  }

  .headshot {
    height: auto;
  }

  .headshot img {
    position: relative;
    transform: unset;
    width: 100%;
    height: auto;
  }

}